@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
    font-family: "Bree Serif", serif;
}

#heading {
    background-color: rgba(113, 238, 188, 0.653);
    height: 100px;
    position: relative;
}
#heading h2 {
    position: absolute;
    left: 0px;
    top: 25px;
    font-weight: bold;
    font-size: 30px;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: detailsheading;
}
@keyframes detailsheading {
    from {
        left: 200;
    }
    to {
        left: 60%;
    }
}
#main_container {

    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#formdiv {

    width: 30%;
    padding: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#detail_maindiv {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;

}

.table {
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 10px;
    padding: 10px;
    margin: auto;

}
.table > thead > tr > th {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}
.table > tbody > tr > td {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

td,
th {
    padding: 10px; /* cellpadding */
    border: 0.5px solid #ccc;
}
h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#submit {
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 30%;
    margin: 20px auto;
    margin-left: 150px;
    cursor: pointer;
}
#submit:hover {
    background-color: blue;
    transition: 0.5;
    color: white;
}
.update {
    background-color: rgb(101, 235, 39);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.update:hover {
    background-color: rgb(84, 255, 5);
    color: black;
}
.delete {
    background-color: rgba(243, 71, 28, 0.814);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.delete:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}



