#main_container {
    border: 0px solid green;
display: flex;
justify-content: space-between;
    margin-top: 50px;
}
#formdiv {
    border: 0px solid rgb(0, 81, 255);
    width: 40%;
    padding: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#carddiv {

    border: 0px solid rgb(255, 0, 25);
    width: 50%;


}
#childrendiv {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
        border: 1px solid rgb(124, 128, 0);
}
.table {
    /* border: 0.5px solid #ccc; */
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 10px; /* cellspacing */
    padding: 10px;
    margin: auto;
    border: 2px solid rgb(255, 0, 115);
}
.table > thead > tr > th {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}
.table > tbody > tr > td {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

td,
th {
    padding: 10px; /* cellpadding */
    border: 0.5px solid #ccc;
}
h1{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}